/* line 7, /Applications/XAMPP/xamppfiles/htdocs/lesson-ito/rails/udemy_ProjectMeal/app/assets/stylesheets/org_people.scss */
input.saveButton {
  margin-top: 10px;
}

/* line 12, /Applications/XAMPP/xamppfiles/htdocs/lesson-ito/rails/udemy_ProjectMeal/app/assets/stylesheets/org_people.scss */
div.votes span.tally-likes {
  margin-right: 3px;
  color: #32cd32;
}
/* line 16, /Applications/XAMPP/xamppfiles/htdocs/lesson-ito/rails/udemy_ProjectMeal/app/assets/stylesheets/org_people.scss */
div.votes span.tally-dislikes {
  margin-right: 3px;
  color: #ff0000;
}

/* line 23, /Applications/XAMPP/xamppfiles/htdocs/lesson-ito/rails/udemy_ProjectMeal/app/assets/stylesheets/org_people.scss */
div#prodInfo div.price {
  color: #32cd32;
}
/* line 26, /Applications/XAMPP/xamppfiles/htdocs/lesson-ito/rails/udemy_ProjectMeal/app/assets/stylesheets/org_people.scss */
div#prodInfo div.expiry {
  color: #FF0000;
}

/* line 31, /Applications/XAMPP/xamppfiles/htdocs/lesson-ito/rails/udemy_ProjectMeal/app/assets/stylesheets/org_people.scss */
.imagePhoto {
  width: 150px;
  margin: 0 auto;
  display: block;
  margin-bottom: 10px;
  height: 150px;
  cursor: pointer;
}

/* line 40, /Applications/XAMPP/xamppfiles/htdocs/lesson-ito/rails/udemy_ProjectMeal/app/assets/stylesheets/org_people.scss */
.displayImage {
  width: 150px;
  height: 150px;
  display: block;
  border: 5px ridge white;
  margin: 5px 0 5px 0;
}

/* line 49, /Applications/XAMPP/xamppfiles/htdocs/lesson-ito/rails/udemy_ProjectMeal/app/assets/stylesheets/org_people.scss */
.prodImage p {
  text-align: center;
  color: #B4B4B4;
  font-size: 14px;
}
/* line 54, /Applications/XAMPP/xamppfiles/htdocs/lesson-ito/rails/udemy_ProjectMeal/app/assets/stylesheets/org_people.scss */
.prodImage .photoUpload {
  display: block;
  font-size: 32px;
  margin: 35px auto 0 auto;
  text-align: center;
  color: #B4B4B4;
}

/* line 63, /Applications/XAMPP/xamppfiles/htdocs/lesson-ito/rails/udemy_ProjectMeal/app/assets/stylesheets/org_people.scss */
div.org_products_index_info {
  padding: 5px 0 0 10px;
}

/* line 67, /Applications/XAMPP/xamppfiles/htdocs/lesson-ito/rails/udemy_ProjectMeal/app/assets/stylesheets/org_people.scss */
ul.products li {
  padding: 2px;
}
/* line 69, /Applications/XAMPP/xamppfiles/htdocs/lesson-ito/rails/udemy_ProjectMeal/app/assets/stylesheets/org_people.scss */
ul.products li div.prodImage, ul.products li div.displayImage {
  padding: 0;
  width: 150px;
}

/* line 75, /Applications/XAMPP/xamppfiles/htdocs/lesson-ito/rails/udemy_ProjectMeal/app/assets/stylesheets/org_people.scss */
div.imagePreview {
  border: 1px solid #B4B4B4;
  width: 150px;
  margin: 0 auto;
  margin-bottom: 10px;
  height: 150px;
  cursor: pointer;
  background-repeat: no repeat;
  background-position: center;
  background-size: 100% 100% !important;
  text-align: center;
}
/* line 86, /Applications/XAMPP/xamppfiles/htdocs/lesson-ito/rails/udemy_ProjectMeal/app/assets/stylesheets/org_people.scss */
div.imagePreview .imageUpload {
  font-size: 32px;
  margin-top: 35px;
  color: #B4B4B4;
}
/* line 91, /Applications/XAMPP/xamppfiles/htdocs/lesson-ito/rails/udemy_ProjectMeal/app/assets/stylesheets/org_people.scss */
div.imagePreview .fa {
  display: inline-block;
  text-rendering: auto;
}
/* line 96, /Applications/XAMPP/xamppfiles/htdocs/lesson-ito/rails/udemy_ProjectMeal/app/assets/stylesheets/org_people.scss */
div.imagePreview p {
  color: #B4B4B4;
  font-size: 16px;
}

/* line 101, /Applications/XAMPP/xamppfiles/htdocs/lesson-ito/rails/udemy_ProjectMeal/app/assets/stylesheets/org_people.scss */
input#uploadImage {
  display: none;
}

/* line 104, /Applications/XAMPP/xamppfiles/htdocs/lesson-ito/rails/udemy_ProjectMeal/app/assets/stylesheets/org_people.scss */
p.deleteFoodImage {
  color: #DA7364;
  cursor: pointer;
  text-align: center;
  margin-bottom: 10px;
}

/* line 111, /Applications/XAMPP/xamppfiles/htdocs/lesson-ito/rails/udemy_ProjectMeal/app/assets/stylesheets/org_people.scss */
div.order-online-radios {
  margin-bottom: 10px;
}
/* line 113, /Applications/XAMPP/xamppfiles/htdocs/lesson-ito/rails/udemy_ProjectMeal/app/assets/stylesheets/org_people.scss */
div.order-online-radios div.field_with_errors {
  display: inline;
}

/* line 118, /Applications/XAMPP/xamppfiles/htdocs/lesson-ito/rails/udemy_ProjectMeal/app/assets/stylesheets/org_people.scss */
.delivery-status-check {
  margin: 60px 0 5px 0;
}
